

.right_pane_chart{
    -fx-background-color: #c2c4bd;
    -fx-border-width: 2;
    -fx-border-color: #f118ed;
}
.button{
    -fx-border-color: #572301;
    -fx-text-fill: #239f82;
    -fx-background-color: #c9d9d3;
}